body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

header{
   grid-area: header;
   height:fit-content;
   background-color: #7030A0;
   color: #ffffff;
}
main{
    grid-row:2/4;
    grid-column: 1/4;
}

footer{
    grid-row: 4/4;
    grid-column: 1/4;
}
img{
    max-width: 50%;
    
}
#header_nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#header_ul{ 
    display: flex;
    align-content: center;
    justify-content: end;
    flex-direction: row;
}
.logo{ /**/
    font-size: 24px;
    font-style: oblique;
}
ul{
    list-style: none; /*For å fjerne default liste style*/
}
li{
    margin: 1rem;
}